*.elc
*.ttf
.cache/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
.org-id-locations
auto-save-list/
elisp/
elpa/
elpy/
history
places
projects
recentf
slime/
tramp
transient/
tree-sitter/
url/
eln-cache/
